<div class="container col-xxl-8 px-4 py-5 position-absolute top-50 start-50 translate-middle">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/closeup-pins-map-planning-travel-journey_53876-74654.webp" class="mx-lg-auto d-none d-lg-block img-fluid rounded-5" alt="LoveJob Demo" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6 m-10 d-none d-sm-block">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">LoveJob <i class="bi bi-search-heart"></i></h1>
      <p class="lead">Find jobs in your area or the desired location. Simple, fast, effective. We're here to simplify your job search. Whether you're a company looking for talent or a job seeker in search of opportunities, our website offers an efficient and effective experience. If you're a company you can simply add an open position and wait for someone who wants to cover that position.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/login">Log In</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/signup">Sign Up</button>
      </div>
    </div>
    <div class="col-lg-6 m-10 d-block d-sm-none">
      <h4 class="display-5 d-flex justify-content-center fw-bold text-body-emphasis lh-1 mb-3">LoveJob <i class="bi bi-search-heart"></i></h4>
      <p class="lead text-center">Find jobs in your area or the desired location. Simple, fast, effective. We're here to simplify your job search. Whether you're a company looking for talent or a job seeker in search of opportunities, our website offers an efficient and effective experience.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a type="button" class="btn btn-primary btn-lg px-4 me-md-2" routerLink="/login">Log In</a>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/signup">Sign Up</button>
      </div>
    </div>
  </div>
</div>
