#map {
	height: 85svh;
	overflow: auto;
}

#buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 400;
	bottom: calc(100vh - 85vh - 56px);
	left: 15px;
}

.nav-link {
	color: grey;
}

.nav-link:hover {
	color: rgb(36, 110, 220);
}

.nav-link.focus {
	color: rgb(36, 110, 220);
	outline: none;
	box-shadow: none;
}

.bottomNav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 85vh - 56px);
}
