<div
	class="modal fade"
	id="selectLocation"
	tabindex="-1"
	aria-labelledby="selectLocationLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="selectLocationLabel">
					Wait a second...
				</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				Before you can add a new position, you need to select a location
				on the map. Click whether you want to add a new position and
				then you can compile the form.
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
				>
					Ok
				</button>
			</div>
		</div>
	</div>
</div>
