<button
	type="button"
	class="btn btn-primary"
	data-bs-toggle="modal"
	data-bs-target="#geolocationSupport"
	id="modalTrigger"
	hidden
></button>

<div
	class="modal fade"
	id="geolocationSupport"
	tabindex="-1"
	aria-labelledby="geolocationSupportLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="geolocationSupportLabel">
					LoveJob
					<i class="bi bi-search-heart"></i>
				</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<strong>Warning!</strong>
				Your browser does not support geolocation. Please use a browser
				that supports geolocation to use this app.
			</div>
			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					id="closeBtn"
					data-bs-dismiss="modal"
				>
					Ok
				</button>
			</div>
		</div>
	</div>
</div>
