<div class="w-100 position-absolute top-50 start-50 translate-middle">
  <form [formGroup]="resetForm" (submit)="onResetPassword()" class="d-flex align-items-center flex-column">
    <h1 class="mb-3 mt-5">Choose new password</h1>
    <div class="form-floating mb-3">
      <input formControlName="newPassword" type="password" id="newPassword" placeholder="*********" [ngClass]="errorReset || (submitted && resetForm.controls['newPassword'].errors) ? 'is-invalid form-control' : 'form-control'">
      <label for="newPassword" [ngClass]="errorReset || (submitted && resetForm.controls['newPassword'].errors) ? 'text-danger' : 'text-body'"><i class="me-1 bi bi-key"></i> New Password</label>
      <div class="d-flex flex-column">
        <small class="text-danger" *ngIf="checkRequiredError(resetForm, 'newPassword')">Password is required</small>
        <small class="text-danger" *ngIf="!checkEqualsPasswords()">Passwords must be equals!</small>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input formControlName="confirmPassword" type="password" id="confirmPassword" placeholder="*********" [ngClass]="errorReset || (submitted && resetForm.controls['confirmPassword'].errors) ? 'is-invalid form-control' : 'form-control'">
      <label for="confirmPassword" [ngClass]="errorReset || (submitted && resetForm.controls['confirmPassword'].errors) ? 'text-danger' : 'text-body'"><i class="me-1 bi bi-key"></i> Confirm Password</label>
      <div class="d-flex flex-column">
        <small class="text-danger" *ngIf="checkRequiredError(resetForm, 'confirmPassword')">Password is required</small>
        <small class="text-danger" *ngIf="!checkEqualsPasswords()">Passwords must be equals!</small>
      </div>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary me-3" *ngIf="!resettingPassword">Reset</button>
      <button class="btn btn-primary me-3" type="button" disabled *ngIf="resettingPassword">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
    </div>
  </form>
</div>
